*{padding: 0px; margin: 0px;}

/* banner section */

.banner-section{ display: flex; align-items: center; justify-content: space-between; background-color: #e5547338; padding: 50px 80px 0px 80px ;  }

.banner-text{ width: 50%; }
.header-img{ width: 450px; height: 600px; background-position: bottom right }

.banner-title{ font-size: 50px; font-weight: 700; color: #252424; }

.banner-paragraph{ margin: 15px 0px 20px 0px; font-size: 20px; color: #252424c4; width: 634px; height: 90px; }

.btn{ padding: 20px 30px 20px 30px ; font-size: 20px; font-weight: bolder; background-color: #E55473; cursor: pointer; border: 0px; border-radius: 5px; }

.btn >a{ text-decoration: none; color: rgba(255, 255, 255, 0.938); font-style: italic;}

.btn>a:hover{color: aquamarine;}

/* featured section */

.Featured-section{ border: 2px solid black; margin: 50px; padding-bottom: 0px; background-color: rgba(170, 223, 205, 0.267); }

.title{ width: 594px; height: 80px; text-align: center; margin: auto; margin-top: 50px; padding-bottom: 13px; }

.main-title{ font-size: 30px; padding: 8px;font-weight:700; font-style: italic; color: #3a3131; }

.main-paragraph{ font-weight: 500; font-size: 17px; font-style: oblique; color: rgba(61, 53, 53, 0.637);   }

.img-div1{ background-color:#e5547352; padding: 15px; border-radius: 150px 150px 0px 0px; height: 370px; }

.img-div2{background-color: #0598a042;padding-top:15px; border-radius: 150px 150px 0px 0px; height: 385px }

.img-div3{ background-color: #477d1141; border-radius: 150px 150px 0px 0px; height: 400px }

.imgs{ display: flex; width: 900px; height: 400px; justify-content: space-between; margin: auto;}


.img1{ width:250px; height: 385px; }

.img2{ width: 300px; height: 350px;}

.img3{height: 400px;}



