*{padding: 0px; margin: 0px;}

/* banner section */

.banner-section{ display: flex; align-items: center; justify-content: space-between; background-color: #e5547338; padding: 50px 80px 0px 80px ;  }

.banner-text{ width: 50%; }
.header-img{ width: 450px; height: 600px; background-position: bottom right }

.banner-title{ font-size: 50px; font-weight: 700; color: #252424; }

.banner-paragraph{ margin: 15px 0px 20px 0px; font-size: 20px; color: #252424c4; width: 634px; height: 90px; }

.btn{ padding: 20px 30px 20px 30px ; font-size: 20px; font-weight: bolder; background-color: #E55473; cursor: pointer; border: 0px; border-radius: 5px; }

.btn >a{ text-decoration: none; color: rgba(255, 255, 255, 0.938); font-style: italic;}

.btn>a:hover{color: aquamarine;}

/* featured section */

.Featured-section{ border: 1px solid rgba(56, 54, 54, 0.089); margin: 50px; padding-bottom: 0px; background-color: rgba(170, 223, 205, 0.267); }

.title{ width: 594px; height: 80px; text-align: center; margin: auto; margin-top: 50px; padding-bottom: 13px; }

.main-title{ font-size: 30px; padding: 8px;font-weight:700; font-style: italic; color: #3a3131; }

.main-paragraph{ font-weight: 500; font-size: 17px; font-style: oblique; color: rgba(61, 53, 53, 0.637);   }

.img-div1{ background-color:#e5547352; padding: 15px; border-radius: 150px 150px 0px 0px; height: 370px; }

.img-div2{background-color: #0598a042;padding-top:15px; border-radius: 150px 150px 0px 0px; height: 385px }

.img-div3{ background-color: #477d1141; border-radius: 150px 150px 0px 0px; height: 400px }

.flower-name{ text-align: center; font-weight: 700; color: #3a31319a; text-decoration: underline;  }

.imgs{ display: flex; width: 900px; height: 430px; justify-content: space-between; margin: auto;}


.img1{ width:250px; height: 385px; }

.img2{ width: 300px; height: 350px;}

.img3{height: 400px;}

/* Support section */

.delivery{ border: 2px solid black; display: flex; justify-content: space-between; width: 900px; margin: auto; padding: 25px; background-color: #27272715; margin-top: 120px;}

.delivery-description{ text-align: center;}

.icon-description{ font-weight: 600; color: #252424ea;}

/* Hot deals section */

.hot-deal{ padding: 55px; display: flex; align-items: center; justify-content: space-around; height: 420px; margin: 120px 0px 100px 0px; background-color: #df315715;  }

.deal-description{ width: 494px; height: 228px; text-align: center; }

.deal-title{ padding: 20px; font-size: 28px; font-weight: 900px; font-style: italic; color: #292020; }

.off{ color: #cf3355; }

.deal-explain{ padding: 0px 5px 25px 5px; width: 500px; height: 60px; color: #252424cb; font-size: 17px; }


/* footer section */

.footer{ height: 260px; border: 2px solid black; text-align: center; padding: 70px; background-color: #111010; }

.footer-text{ font-size: 45px; font-weight: bolder; color: whitesmoke; }
.dsign{ color: #E55473;}

.footer-description{ padding: 30px 30px 10px 30px; text-align: center;  font-weight: 500; font-size: 18px; color: rgba(245, 245, 245, 0.781); }

.all-rights-reserved{ margin-top: 60px; font-size: 18px; font-weight: 400;  color: wheat;  }

/* social section */

.social{text-align: center; padding: 20px; margin: 50px; background-color:rgba(189, 206, 200, 0.185) ; }

.social-title{ font-size: 40px; padding: 10px; font-weight: 800; font-style: oblique; color: #221a1a; }

.special-description{ width: 504px; height: 60px; margin: auto; font-size: 18px; font-weight: 500; color: #252424ce;  }


.social-img1{ width: 250px; height: 350px; padding: 10px; }

/* latest-deals */

.latest-deals{ border: 2px solid rgba(131, 123, 123, 0.904); text-align: center; width: 750px ;  height: 250px; margin: auto;
 background-image: url("../Flower Asset/Rectangle\ 9.png"); background-size:cover;   }

.latest-title{ font-size: 40px; font-weight: 900; font-style: italic; margin: 80px 0px 10px 0px; color: #111010; }

.latest-description{ margin-bottom: 10px; font-size: 18px; font-weight: 540;  color: #221a1ac5; }

.input-latest{ margin-top: 18px;}

.input-mail{ width: 450px; height: 30px; border-radius: 5px; border: 1px solid rgba(188, 143, 143, 0.404);}

.subscribe{ width: 100px; height: 35px; background-color: #e55473;  font-size: 16px; font-weight: 700; color: rgba(255, 255, 255, 0.836); cursor: pointer; border-radius: 5px; border: 0px; }

.subscribe:hover{ color: rgb(45, 97, 175);}

/* bonus section */


/* contact us section */
.contact-us{ border: 2px solid black; margin: 50px 0px 50px 0px; height: 250px; text-align: center; background-color: rgba(192, 167, 221, 0.568); }

.contact-us-title{padding: 20px; margin-top: 20px; font-size: 30px;  }

.contact-us-description{ text-align: center; font-size: 20px; font-weight: 500px; color: #221a1a;}
.contact-us-description>a{ text-decoration: none;}

.contact-btn{ padding: 20px 30px 20px 30px ; font-size: 20px; font-weight: bolder; background-color: #E55473; cursor: pointer; border: 0px; border-radius: 5px; margin-top: 20px;}

.contact-btn>a{text-decoration: none; color: rgba(248, 234, 211, 0.911);}

.contact-btn>a:hover{ color: blueviolet;}




